.c-item {
    height: 350;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.hover-underline-animation-black {
    display: inline-block;
    position: relative;
    color: black;
  }

  .hover-underline-animation-black:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-black:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }