<% include ../partials/header %>
<% include ../partials/menu %>
 
<main>
 <div class="container">
   <form action = "/login" method = POST>
       <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">User name</label>
         <input type="Username" class="form-control" name = "username" id="Username1">
       </div>
       <div class="mb-3">
           <label for="exampleInputPassword1" class="form-label">Password</label>
           <input type="Password" class="form-control" name = "password" id="Password">
       </div>
       <button type="logIn" class="btn btn-primary">Submit</button>
     </form>
 </div>
</main>
 
<% include ../partials/footer %>