<% include ../partials/header %>
<% include ../partials/menu %>
<main>
    <body>
        <div class="d-flex justify-content-center">
            <H1>Successfully Logged Out!</H1>
        </div>
    </body>
</main>
<% include ../partials/footer %>