<% include ../partials/header %>
<% include ../partials/menu %>

<main>
  <body>
    
    <div class="container">
      <br/>
      <h3>Select a patient:</h3>
      <form action="/selectpatient" method="POST">
        <select class="form-control form-control-lg">
          <option>Patient 1</option>
          <option>Patient 2</option>
          <option>Patient 3</option>
        </select>
      </form>
      <div class="row">
        <div class="col-sm">
          <br/>
          <h3>PATIENT_NAME</h3>
          <br/>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Age:</th>
                <td>70</td>
              </tr>
              <tr>
                <th scope="row">Schedule:</th>
                <td>Monday - Wednesday <br/> 8 AM - 12 PM</td>
              </tr>
              <tr>
                <th scope="row">Medicine Needed:</th>
                <td>Advil</td>
              </tr>
              <tr>
                <th scope="row">Notes:</th>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit purus a efficitur tristique. Proin cursus ipsum quam, egestas scelerisque quam imperdiet at. </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <div class="container">
            <br/>
            <h3>Patient Update</h3>
            <h6>Provide an update on how PATIENT_NAME is doing for their family.</h6>
            <br/>
            <form action="/patientupdate" method="POST">
                <div class="mb-3">
                    <label for="updateInput" class="form-label">Update:</label>
                    <textarea type="text" class="form-control" 
                      id="updateInput" 
                      name="updateInput" 
                      rows="6"
                      required></textarea>
                </div>
                <button id="submitButton" class="btn btn-primary" type="submit">Post Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>    
  </body>
</main>

<% include ../partials/footer %>