<% include ../partials/header %>
<% include ../partials/menu %>

<main>
  <div class="container">
    <form action = "/register" method = POST>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">User name</label>
          <input type="Username" class="form-control" name = "username" id="Username1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="Password" class="form-control" name = "password" id="Password">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Legal Name</label>
          <input type="Legal Name" class="form-control" name = "legal_name" id="Legal Name">
        </div>
        <div class="mb-3">
          <label for="Permission Level">Select a Permission Level:</label>
          <select name="permission_level" id="Permission Level">
            <option value="family">Family</option>
            <option value="nurse">Nurse</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Date of Birth (DD/MM/YYYY)</label>
          <input type="Date of Birth" class="form-control" name = "dob" id="Date of Birth">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Patient Needs</label>
          <input type="Patient Needs" class="form-control" name = "patient_needs" id="Patient Needs">
        </div>
        <button type="register" class="btn btn-primary">Register</button>
    </form>
  </div>
</main>

<%- include("../partials/footer") %>