<% include ../partials/header %>
<% include ../partials/menu %>

<main>
  <style>
    .row{
      margin: 1% 0 1% 0;
    }
  </style>
  <body>
    <div class="d-flex flex-column align-items-center">
      <div class="row" style="width: 40%;">
        <a class='btn btn-primary' href="/register">Add Patient / Nurse</a>
      </div>
      <div class="row" style="width: 40%;">
        <a class='btn btn-primary' href="/assign">Assign Nurse to Patient</a>
      </div>
      <div class="row" style="width: 40%;">
        <a class='btn btn-primary' href="/med">Add a Medication to a Patient</a>
      </div>
      <div class="row" style="width: 40%;"> 
        <a class='btn btn-primary' href="/nurse">View All Patients</a>  
      </div>
    </div>
  </body>
</main>


<%- include("../partials/footer") %>